@import '../../variables';

.login-main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
    width: 100%;

    .logo-login{
        position: absolute;
        top: 4%;
        left: 5%;
        z-index: 1;
        img{
            height: 32px;
        }
    }

    .login-pink-sphere1{
        position: absolute;
        top:-20%;
        left: 20%;
        animation:spin infinite 5s linear;
    }
    .login-grey-sphere1{
        position: absolute;
        top:10%;
        right: 10%;
        animation:spin infinite 6s linear;

    }
    .login-pink-sphere2{
        position: absolute;
        bottom: -10%;
        right: -10%;
        animation:spin infinite 8s linear;

    }
    .login-grey-sphere2{
       position: absolute;
       bottom: 27%;
       left: -5%;
        animation:spin infinite 7s linear;
    }
    .login-form-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 350px;
        z-index: 2;
    }

    .login-form-container h1 {
        color: $white;
    }
    p{
        color: $white;
        font-size: 14px;
        font-weight: 300;
        span{
            text-decoration: underline;
            color: $pink-border;
            cursor: pointer;
            font-weight: bold;
        }
    }

    .login-form-container form {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        .login-btn {
            width: 100%;
            background: rgb(228, 107, 187);
            background: radial-gradient(circle, rgba(228, 107, 187, 1) 0%, rgba(226, 128, 193, 1) 19%, rgba(235, 120, 189, 1) 42%, rgba(183, 46, 178, 1) 100%);
            outline: none;
            height: 45px;
            color: $white;
            font-weight: bold;
            border-radius: 6px;
            cursor: pointer;
            border: none;
            opacity: 0.8;
            transition: opacity 0.3s ease-in-out;

            &:hover{
                opacity: 1;
            }
        }
    }
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

 @media screen and (max-width:770px){
    .login-pink-sphere1,.login-pink-sphere2{
        display: none;
    }
    .login-main-section .login-grey-sphere1,
    .login-main-section .login-grey-sphere2 {
        display: none;
    }
    .login-main-section .login-form-container {
        padding: 0 16px;
    }
 }